/* global rules */
:root {
  --prim-color: #33d1cc;
  --dark-color: #19283f;
  --light-color: #eff7fa;
  --second-color: #ffc400;
  --third-color: #ff3150;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-btn {
  background-color: var(--third-color);
  color: var(--second-color);
  padding: .5em 1em;
  transition: .5s;
}

.main-btn:hover {
  color: white;
  background-color: var(--prim-color);
}

.main-heading::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--prim-color);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
/* start nav */
.navbar {
  background-color: var(--dark-color);
}

.navbar-toggler {
  color: white;
  font-size: 1.5rem;
  transition: .3s;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-toggler:hover,
.navbar-toggler[aria-expanded="true"] {
  color: var(--prim-color);
  transform: rotate(90deg);
}

nav .nav-link {
  color: #fff;
  text-transform: capitalize;
  transition: .3s;
}

nav .nav-link:hover,
nav .nav-link:focus,
nav .nav-link:active {
  color: var(--prim-color);
}

.navbar .search  {
  border-left: 1px solid var(--prim-color);
  cursor: pointer;
}

.navbar .search svg {
  color: var(--prim-color);
}
/* end nav */
/* start landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(90vh - 80px);
}
/* end landing */
/* start features */
.feature-icons {
  height: 180px;
}

.feature-icons svg {
  left: 50%;
  transform: translateX(-50%);
}

.feature-icons .number {
  font-size: 12rem;
  color: var(--light-color);
}

.feature-icons .icon {
  font-size: 3.5rem;
  color: var(--prim-color);
}

.features h4 {
  color: var(--second-color);
}
/* end features */
/* start portfolio */
.portfolio {
  background-color: var(--light-color);
}

.portfolio ul .active {
  background-color: var(--third-color);
  color: var(--second-color);
}

.portfolio ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: .3s;
}

.portfolio ul li:not(.active):hover {
  color: var(--third-color);
}

.portfolio .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.portfolio .box::before {
  content: attr(data-work);
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #19283fce;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(-100% - 10px));
  transition: .3s;
}

.portfolio .box:hover::before {
  transform: translateY(0);
}
/* end portfolio */
/* start stuff */
.stuff .description {
  max-width: 500px;
  min-width: 200px;
}

.stuff .main-btn {
  max-width: 70%;
  min-width: fit-content;
}
/* end stuff */
/* start team */
.team {
  background-color: var(--light-color);
}

.team h2 {
  color: var(--second-color);
}

.team h4 {
  background-color: var(--prim-color);
}

.team article blockquote{
  height: 125px;
}
/* end team */
/* project only rule */ 
.project {
  background-color: var(--dark-color);
}